
*{padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}
/*da propiedades a la imagen del logo de la cabecera de la web*/
.img-logo{ 
  /*al poner los valores en porcentajes varía el tamaño al redmensionar*/
  width: 8%;
  height: 8%; 
  /*fija un valos mínmo de ancho para que si redimensiona a valores muy pequeños no se haga demasiado pequeño el logo*/
  min-width: 70px; 
  float: left;
  margin-top: -200px;

}
/*le da formato a la cabecera*/
.header{ 
 text-align: center;
 width: 100%;
 height: auto;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 overflow: hidden;
 /*hace la curva de la cabecera*/
 border-radius: 0 0 45% 45% / 30%; 
 padding: 50px;
 /*hace el degradado*/
 background-image: linear-gradient(135deg,black 15%,  grey 75%); 
}
/*le da el estilo de la primera linea de texto de cabecera*/ 
.h1-header { 
  color: rgb(187, 75, 187);
  font-family: fantasy;
  font-style: italic;
  font-size: 80px;
  width: 50%;
  margin-bottom: 30px;
  margin-left: 25%;
  margin-right:10px ;
}
/*le da el estilo de la segunda linea de texto de cabecera*/  
.h3-header{ 
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  color: rgb(92, 12, 92);
  margin-left: 3%;
}

/*coloca en menu en el nav*/  
.menu { 
  z-index: 1;
  margin-left: 10px;
  margin-top: 20px;
}
/*da colocacion y tipo de lista desordenada*/  
.menu ul{ 
  display: inline-flex;
  padding: 0;
  margin:auto;
  list-style: none;
}
/*de formato y estilo a las opciones del menú*/  
.menu a{ 
  display: inline-block;
  text-decoration: none;
  background-color: rgb(168, 230, 75);
  padding: 10px ;
  color: black;
  font-size: 20px;
  
}
/*Propiedad Hover: Al pasar el ratón por encima, despues elegimos el cambio o efecto*/  
.menu a:hover{ 
  background-color: green;
}
/* Esto es para ocultar el desplegable y que no salga de manera automática*/  
.menu ul li ul { 
  display: none;
  /*mantiene menú*/
  float: right; 
}
/* La primera parte hace que se despligue el menú y la segunda parte nos deja interactuar/mantiene con el menú desplegado*/  
.menu  ul li a:hover + ul, .menu ul li ul:hover { 
  display: inline-flex;  
}
/*le pone una imágen al fondo que cubre toda la superficie y una fuente determinada para todo el body*/
body{
  background-image: url(../Img/how-to-delphi-method-in-software-engineering-functional-requirements-examples-.jpg);
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*posiciona todo lo contenido en main*/
main{
  margin-left: 30px;
  float: left;
  width: 63%;  
}
/*da color, fuente, tamaño y colocación al texto*/
#cabeceraFormulario{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin-top:25px;
  margin-bottom: 15px;
}
/*da color y controla la opacidad/transparencia del artículo*/
.contacto{
  background-color: bisque;
  -moz-opacity:.9;opacity: 0.9; 
}
/*da color y controla la opacidad/transparencia del artículo*/
.servicios{
  background-color: rgb(234, 223, 243);
  -moz-opacity:.9;opacity: 0.9;
  
}
/*da color y controla la opacidad/transparencia del artículo*/
.facturacion{
  background-color: rgb(234, 241, 214);
  -moz-opacity:.9;opacity: 0.9;
  
}
/*establece el tamaño del área de texto*/
textarea{
  /*evita que el usuario pueda redimensionar el área de texto*/
  resize: none;
  overflow: auto;
  width: 75%;
  height: 80px;
}
/*da colocación a los elementos de esta clase para darle una separación*/
.apell{
  margin-left: 20px;
}
/*da colocación a los elementos de esta clase para darle una separación*/
.mail{
  margin-left: 125px;
}
/*marca las distancias de dentro del fieldset*/
fieldset{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
/*establece el color del texto*/
#terminos{
  color: black;
}
/*da color al texto y al fondo, colocación del texto y del bloque y la opacidad del mismo*/
#datos{
  color: black;
  background-color: aliceblue;
  -moz-opacity:.7;opacity: 0.7;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*pone color de fondo, colocación y borde al aside*/
aside{
  float: right;
  border: 3px solid black;
  width: 366px;
  height: 561px;
  background-color: black;
  margin-right: 30px;
  margin-top: 100px;
   
}
/*redimensiona la imagen*/
#banner1{
  height: 400px;
  width: 360px;   
}
/*redimensiona la imagen*/
#banner2{
  width: 360px; 
}
/*da color y colocación al texto*/
#copy{
  float: left;
  color: black;  
  width: 100%;
}
/*cambios que surtiran efecto si la pantalla baja de 1300px de ancho*/
@media screen and (max-width: 1300px){
  main{
    /*aumenta el tamaño del elemento para su mejor visualización*/
    width: 90%;
  }

  aside{
    /*cambia la ubicación a la izquierda del aside*/
    float: left;
  }

  #cabeceraFormulario, #terminos, #copy{
    /*cambia el color del texto en los tres elementos para que se vean mejor*/
    color: aliceblue;
  }

  body{
    /*cambia la imágen de fondo*/
    background-image: url(../Img/istockphoto-1345923219-612x612.jpg);
  }
}
/*cambios que surtiran efecto si la pantalla baja de 900px de ancho*/
@media screen and (max-width: 900px){
  
  body{
   background-image: url(../Img/Noticia-IOS.jpg);
    
  }
  aside{
    /*separa el aside del borde de la pantalla por el margen izquierdo*/
    margin-left: 20px;
  }
}
/*cambios que surtiran efecto si la pantalla baja de 400px de ancho*/
@media screen and (max-width: 400px){
  main{
    /*separa el main del borde de la pantalla por el margen izquierdo*/
    margin-left: 15px;
  }

  body{
    background-image: url(../Img/office.jpg);
  }

  aside{
    margin-left: 5px;
  }

  .img-logo{
    /*recoloca la imagen del logo*/
    margin-left: -40px;
  }

  .h1-header {
    /*recoloca el texto de la cabecera*/
    margin-left: 10%;
  }

}
