*{padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}
/*da propiedades a la imagen del logo de la cabecera de la web*/
.img-logo{ 
  /*al poner los valores en porcentajes varía el tamaño al redmensionar*/
  width: 8%;
  height: 8%; 
  /*fija un valos mínmo de ancho para que si redimensiona a valores muy pequeños no se haga demasiado pequeño el logo*/
  min-width: 70px; 
  float: left;
  margin-top: -200px;

}
/*le da formato a la cabecera*/
.header{ 
 text-align: center;
 width: 100%;
 height: auto;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 overflow: hidden;
 /*hace la curva de la cabecera*/
 border-radius: 0 0 45% 45% / 30%; 
 padding: 50px;
 /*hace el degradado*/
 background-image: linear-gradient(135deg,black 15%,  grey 75%); 
}
/*le da el estilo de la primera linea de texto de cabecera*/ 
.h1-header { 
  color: rgb(187, 75, 187);
  font-family: fantasy;
  font-style: italic;
  font-size: 80px;
  width: 50%;
  margin-bottom: 30px;
  margin-left: 25%;
  margin-right:10px ;
}
/*le da el estilo de la segunda linea de texto de cabecera*/  
.h3-header{ 
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  color: rgb(92, 12, 92);
  margin-left: 3%;
}


.menu {
  z-index: 1;
  margin-left: 10px;
  margin-top: 20px;
}

.menu ul{
  display: inline-flex;
  padding: 0;
  margin:auto;
  list-style: none;
  margin-bottom: 10px;
}

.menu a{
  display: inline-block;
  text-decoration: none;
  background-color: rgb(168, 230, 75);
  padding: 10px ;
  color: black;
  font-size: 20px;
  
}

.menu a:hover{ /*Propiedad Hover: Al pasar el ratón por encima, despues elegimos el cambio o efecto*/
  background-color: green;
}

.menu ul li ul { /* Esto es para ocultar el desplegable y que no salga de manera automática*/
  display: none;
  float: right; /*mantiene menú*/
  /*float: left  Quita el menú y se convierte en inicio*/
}

.menu  ul li a:hover + ul, .menu ul li ul:hover { /* La primera parte hace que se despligue el menú y la segunda parte nos deja interactuar/mantiene con el menú desplegado*/
  display: inline-flex;  
}

#Ntitulo{
color: black;
margin: 30px; /*margen hacia todos los lados para mantener la distancia*/
font-family: Impact;
font-size: 40px;
}
#articulo1{
    float: left;
    width: 45%;
    height: 200px;
    background-color: blueviolet; 
    margin-left: 30px;
    margin-top: 5px;
}
#articulo2{
  float: right;
  width: 45%;
  height: 200px;
  background-color: blueviolet;
  margin-right: 30px;
  margin-top: 5px;
}
#articulo3{
  float: left;
  width: 45%;
  height: 200px;
  background-color: blueviolet;
  margin-left: 30px; 
  margin-top: 5px;
}
#articulo4{
  float: right;
  width: 45%;
  height: 200px;
  background-color: blueviolet;
  margin-right: 30px;
  margin-top: 5px;
}
.imagen1{
  float: left;
  height: 200px;
  width: 25%;
}

.imagen2{
  width: 30%;
  height: 200px;
  float: left;

}
.imagen3{
  float: left;
  height: 200px;
  width: 25%;
}
.imagen4{    
  float: left;
  height: 200px;
  width: 30%;
}
.texto1{
    float: left; 
    width: 60%;
    margin-left: 10px; 
}
#textoN1{
    float: left;
    margin-left: 15px;
    margin-top: 10px; 
    width: 60%;
}

.texto2{
    float: left;
    width: 60%;
    margin-left: 10px; 
}

#textoN2{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
}
.texto3{
  float: left; 
  width: 60%;
  margin-left: 10px; 
}
#textoN3{
  float: left;
  margin-left: 15px;
  margin-top: 10px; 
  width: 60%;
}
.texto4{
  float: left;
  width: 60%;
  margin-left: 10px; 
}

#textoN4{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 55%;
}

#Ptitulo{
  color: black;
  margin: 500px 30px 30px 30px; /*margen hacia todos los lados para mantener la distancia*/
  font-family: Impact;
  font-size: 40px;
}
.publi1{
      float: left;
      width: 60%;
      background-color: rgb(180, 253, 107);
      border: solid rgb(180, 253, 107);
      margin-left: 10px;
      
}    
#p1{
  height: 500px auto;
  width: 100%;
  border: solid black;
}
#p2{
  height: 500px auto;
  width: 100%;
  border: solid black;
}
#p3{
  height: 500px auto;
  width: 100%;
  border: solid black;
}
#p4{
  height: 500px auto;
  width: 100%;
  border: solid black;
}
#mapa{
  
  margin-left: 10px;
  width: 49%; 
}

aside{
  float: right;
  margin-top: 0px ;
  margin-right: 120px;
  width: 200px;
  
}
#copy{
  float: left;
  color: black;  
  width: 100%;
}
main{
    width: 60%;
}


#contenedor{
  height: 1080px;
}
@media screen and (max-width: 1300px){
  body{
    background-color: rgb(250, 3, 147);
  }
  #articulo1{
      width: 80%;
  }
  #articulo2{
      width: 80%;
      float: left; 
      margin-left: 30px;
  }
  #articulo3{
      width: 80%;
  }
  #articulo4{
      width: 80%;
      float: left; 
      margin-left: 30px;
  }
  #copy{
    color: black;
  }
  .imagen2{
      width: 25%;
  }
  .imagen4{
      width: 25%;
  }
}
@media screen and (max-width: 900px){

  body{
    background-color: rgb(8, 239, 247);
  }
}


@media screen and (max-width: 415px){

  body{
    background-color: rgb(0, 218, 91);
  }
  .img-logo{
      margin-left: -40px;
  }

  .h1-header {
      margin-left: 10%;

  }
}

