
*{padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
  

  
.img-logo{
    max-width: 150px;
    float: left;
    margin-top: -200px;
  
}
.header{
   text-align: center;
   width: 100%;
   height: auto;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   overflow: hidden;
   border-radius: 0 0 45% 45% / 30%;
}
  
.overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: rgb(187, 75, 187);
    background-image: linear-gradient(135deg,black 15%,  grey 75%);
  
}
  
.h1-header {
    font-family: fantasy;
    font-style: italic;
    font-size: 80px;
    margin-bottom: 30px;
}
  
.h3-header{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    color: rgb(92, 12, 92);
}
  
  
.menu {
    z-index: 1;
    margin-left: 10px;
    margin-top: 20px;
}
  
.menu ul{
    display: inline-flex;
    padding: 0;
    margin:auto;
    list-style: none;
}
  
.menu a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(168, 230, 75);
    padding: 10px ;
    color: black;
    font-size: 20px;
    
}
  
.menu a:hover{ /*Propiedad Hover: Al pasar el ratón por encima, despues elegimos el cambio o efecto*/
    background-color: green;
}
  
.menu ul li ul { /* Esto es para ocultar el desplegable y que no salga de manera automática*/
    display: none;
    float: right; /*mantiene menú*/
    /*float: left  Quita el menú y se convierte en inicio*/
}
  
.menu  ul li a:hover + ul, .menu ul li ul:hover { /* La primera parte hace que se despligue el menú y la segunda parte nos deja interactuar/mantiene con el menú desplegado*/
    display: inline-flex;  
}

body{
    background-color: transparent ;
    z-index: 1;
    position: absolute;
    height: 120%;
    width: 100%;
}

.div-parrafo{
    display: inline-block;
}

.equipo-h1{
 text-align: center;
 margin-top: 10px;
 color: white;
}

#contenedor{
    height: 100%;
    overflow: auto;
    background-color: aqua;
    z-index: 30;
}

.isra-h2{
    position: absolute;
    top: 450px;
    color: white;
    margin-left: 3%;
}
 
.Isra{
    width: 410px;
    height: 513px;
    position: absolute;
    top: 0;
    left: 0%;
    backface-visibility: hidden;
    transition: all  2s linear;
    transition-delay: 10s;
}

.Isra:active{
    transform: rotateY(180deg);
    transition: all  0.5s linear;
}

.texto-dentro1{
    position: absolute;
    display: block;
    width: 410px;
    height: 510px;
    font-size: 26px;
    font-family:  Arial, sans-serif;
    font-style: italic;
    float: left;
    margin-top: 10px;
    left: 3%;
    top: 480px;
    background-color: red;
}

.rick-h2{
    position: absolute;
    top: 450px;
    right: 291px;
    color: white;
}
 
.Rick{
    width: 410px;
    height: 530px;
    right: 9px;
    top: 480px;
    position: absolute;
    backface-visibility: hidden;
    transition: all  2s linear;
    transition-delay: 10s;
    margin-right: 3%;
 
}

.Rick:active{
    transform: rotateY(180deg);
    transition: all  0.5s linear;
 
}

.texto-dentro2{
    position: absolute;
    display: block;
    width: 410px;
    height: 510px;
    font-size: 26px;
    font-family:  Arial, sans-serif;
    font-style: italic;
    float: left;
    margin-top: 10px;
    margin-right: 3%;
    right: 9px;
    top: 480px;
    background-color: purple;
    color: white;
     
 
}

.pablo-h2{
    position: absolute;
    top: 450px;
    left: 740px;
    color: white;
 
}

.Pablo{
    width: 410px;
    height: 530px;
    left: 740px;
    top: 480px;
    position: absolute;
    backface-visibility: hidden;
    transition: all  2s linear;
    transition-delay: 10s; 
    margin-left: auto;
}
 
.Pablo:active{
    transform: rotateY(180deg);
    transition: all  0.5s linear;
}
 
.texto-dentro3{
    position: absolute;
    display: block;
    width: 410px;
    height: 520px;
    font-size: 26px;
    font-family:  Arial, sans-serif;
    font-style: italic;
    float: left;
    margin-top: 10px;
    margin-left: auto;
    left: 740px;
    top: 480px;
    background-color: yellow;
} 
 
#copy{
    color: antiquewhite;
    position: absolute;
    bottom: 5px;
}



 
 
 
 