
*{padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
  

  
.img-logo{
    width: 8%;
    height: 8%;
    min-width: 70px;
    float: left;
    margin-top: -200px;
  
}
.header{
   text-align: center;
   width: 100%;
   height: auto;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   overflow: hidden;
   border-radius: 0 0 45% 45% / 30%;
}
  
.overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: rgb(187, 75, 187);
    background-image: linear-gradient(135deg,black 15%,  grey 75%);
  
}
  
.h1-header {
    font-family: fantasy;
    font-style: italic;
    font-size: 80px;
    margin-bottom: 30px;
    margin-left: 3%;
}
  
.h3-header{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    color: rgb(92, 12, 92);
    margin-left: 3%;
}
  
  
.menu {
    z-index: 1;
    margin-left: 10px;
    margin-top: 20px;
}
  
.menu ul{
    display: inline-flex;
    padding: 0;
    margin:auto;
    list-style: none;
}
  
.menu a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(168, 230, 75);
    padding: 10px ;
    color: black;
    font-size: 20px;
    
}
  
.menu a:hover{ /*Propiedad Hover: Al pasar el ratón por encima, despues elegimos el cambio o efecto*/
    background-color: green;
}
  
.menu ul li ul { /* Esto es para ocultar el desplegable y que no salga de manera automática*/
    display: none;
    float: right; /*mantiene menú*/
    /*float: left  Quita el menú y se convierte en inicio*/
}
  
.menu  ul li a:hover + ul, .menu ul li ul:hover { /* La primera parte hace que se despligue el menú y la segunda parte nos deja interactuar/mantiene con el menú desplegado*/
    display: inline-flex;  
}

body{
    background-color: black ;
    height: 120%;
    width: 100%;
}

.empresa{
    color: white;
    margin: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.edificio{
    height: 50%;
    width: 50%;
    margin-left: 25%;    
}

.datos-empresa{
    color: white;
    text-align: justify;
    width: 75%;
    margin-left: 15%;
    margin-top: 5px;
}

.integrantes{
    color: white;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

#isra{
    height: 250px;
    width: 250px;
}

#rick{
    height: 250px;
    width: 250px;
}

#pablo{
    height: 250px;
    width: 250px;
}


.texto-organizacion {
    color: white;
    width: 30%;
    float: left;
    margin-left: 50px;
    text-align: center;
  }

 
#copy{
    color: antiquewhite;
    float: left;
    width: 100%;
}

@media screen and (max-width: 1300px){
    .texto-organizacion{
        width: 80%;
    }

    body{
      background-color: rgb(250, 3, 147);
    }
    #copy{
      color: black;
    }
  }
  @media screen and (max-width: 900px){
    .texto-organizacion{
        width: 80%;
    }
  
    body{
      background-color: rgb(8, 239, 247);
    }
  }
  


 
 
 
 